.mainNavList {
  list-style: none;
  display: flex;
  gap: 1.8rem;
  font-size: 1.7rem;
  font-weight: 700;
  background: #d8f5cc;
  border-radius: 50px;
  padding: 1rem 2rem;
}

.mainNavList a {
  padding: 1rem;
  transition: all 150ms ease-in-out;
}

.mainNavList a:hover {
  background: #c4e8b4;
  color: #2b7f06;
}
