.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 9rem;
  padding: 0 4rem;
}

.sticky {
  position: fixed;
  top: 0;
  bottom: 0;
  width: 100%;
  background: #f1ffebb7;
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  z-index: 10;
  height: 8rem;
  box-shadow: 0 1.2rem 3.2rem rgba(0, 0, 0, 0.05);
}

.headerButton {
  padding: 1rem 4rem;
}

.headerButton i {
  color: #e3f9da;
  margin-right: 0.2rem;
}
